.upwork-costum-image-slider-container {
    width: 100%;
    display:flex;
    flex-direction: row;
}

.upwork-custom-image-slider {
    margin: 10px auto;
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 40px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    outline: none;
}

.upwork-custom-image-slider:focus {
    outline: none;
}

.upwork-custom-image-slider::-moz-focus-outer {
    border: 0;
}

/* Mouse-over effects */
.upwork-custom-image-slider:hover {
    opacity: 1;
}

.upwork-custom-image-slider:hover::-webkit-slider-thumb {
    opacity: 1;
}

.upwork-custom-image-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #c32432;
    opacity: .5;
    cursor: pointer;
    padding: 10px;
}

.upwork-custom-image-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #c32432;
    opacity: .5;
    cursor: pointer;
    padding: 10px;
}

.upwork-custom-image-slider-images-container {

}

.upwork-custom-image-slider-images-container > img {
    display: none;
    margin: 0 auto;
}

.upwork-custom-image-slider-choices-container {
    display:flex;
    justify-content:space-between;
}

.upwork-custom-image-slider-choices-container > div {
    margin: 4px;
}

.upwork-custom-image-slider-choice-left {
    text-align: left;
}

.upwork-custom-image-slider-choice-middle {
    text-align: center;
}

.upwork-custom-image-slider-choice-right {
    text-align: right;
}
